@{
    ViewData["Title"] = "О сайте";
}
<div class="text-center">
    <h1 class="">About Lib</h1>
</div>
<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mt-3 mx-auto">
    <h3>
        Книжный рекомендательный сервис для ведениия читательского дневника, с подборками книг и рецензиями на них
    </h3>
</div>
<div class="text-center mt-3">
    <p class="">Разработчик - Аминов Арслан 19П-1</p>
</div>
