@{
    ViewData["Title"] = "Главная";
}

<div class="mb-5">
	<img class="img-fluid" src="~/img/home_banner.png" />
</div>

@*<div class="text-center">
    <h1 class="display-4">Добро пожаловать на Lib</h1>

</div>*@

<h2>Популярное:</h2>
@*horizontal-scrollable*@
<div class="">
	<ul class="list-unstyled row">
		@{
			foreach (var book in ViewBag.popularBooks) {
				<li class="d-inline " style="width: auto;">
					<partial name="Partial/_BookItem" model="book"></partial>
				</li>
			}
		}
	</ul>
</div>

<h2>Новинки:</h2>
<div class="">
	<ul class="list-unstyled row">
		@{
			foreach (var book in ViewBag.newBooks) {
				<li class="d-inline " style="width: auto;">
					<partial name="Partial/_BookItem" model="book"></partial>
				</li>
			}
		}
	</ul>
</div>

<ul class="mt-4">
	<h2>Тестовое:</h2>
	<li class="nav-item">
		<a class="nav-link  " asp-area="" asp-controller="Author" asp-action="All">Авторы</a> @*text-dark*@
	</li>
	<li class="nav-item">
		<a class="nav-link  " asp-area="" asp-controller="Genre" asp-action="All">Жанры</a> @*text-dark*@
	</li>
	<li class="nav-item">
		<a class="nav-link  " asp-area="" asp-controller="Book" asp-action="All">Книги</a> @*text-dark*@
	</li>
	<li class="nav-item">
		<a class="nav-link  " asp-area="" asp-controller="User" asp-action="All">Пользователи</a> @*text-dark*@
	</li>
</ul>
