@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на Lib</h1>

</div>

<div class="">
	<h2>Популярное:</h2>
	@{
		foreach (var book in ViewBag.popularBooks) {
			<h4>
				<a class="" asp-controller="Book" asp-action="One" asp-route-id="@book.Id">@book.Name</a>
			</h4>
		}
	}
</div>

<div class="">
	<h2>Новинки:</h2>
	@{
		foreach (var book in ViewBag.newBooks) {
			<h4>
				<a class="" asp-controller="Book" asp-action="One" asp-route-id="@book.Id">@book.Name</a>
			</h4>
		}
	}
</div>

<ul class="mt-4">
	<h2>Тестовое:</h2>
	<li class="nav-item">
		<a class="nav-link  " asp-area="" asp-controller="Author" asp-action="All">Авторы</a> @*text-dark*@
	</li>
	<li class="nav-item">
		<a class="nav-link  " asp-area="" asp-controller="Genre" asp-action="All">Жанры</a> @*text-dark*@
	</li>
	<li class="nav-item">
		<a class="nav-link  " asp-area="" asp-controller="Book" asp-action="All">Книги</a> @*text-dark*@
	</li>
	<li class="nav-item">
		<a class="nav-link  " asp-area="" asp-controller="User" asp-action="All">Пользователи</a> @*text-dark*@
	</li>
</ul>
