@{
    ViewData["Title"] = "Популярное";
}
<div class="">
    <h2>Популярное:</h2>
    @{
        foreach (var book in ViewBag.books) {
            <h4>
                <a class="" asp-controller="Book" asp-action="One" asp-route-id="@book.Id">@book.Name</a>
            </h4>
        }
    }
</div>
