@{
    ViewData["Title"] = "Пользователи";
}
<div class="">
    @{
        foreach (var user in ViewBag.users) {
            <h4>
                <a class="" asp-controller="User" asp-action="One" asp-route-id="@user.Id" >@user.Name</a>
            </h4>
        }
    }
</div>
