@{
	ViewData["Title"] = "Заметки";
}
<h2>Заметки</h2>
<div class="">
	<form asp-controller="Note" asp-action="Create" method="post">
		<input class="btn btn-primary" type="submit" value="Создать">
	</form>
	<ul class="mt-2 list-unstyled row">
		@{
			foreach (var note in ViewBag.notes) {
				<li class="d-inline" style="width: auto;">
					<div class="border rounded mb-3 p-3" style="width: 512px;">
						<a class="" asp-controller="Note" asp-action="One" asp-route-id="@note.Id" style="text-decoration: none;">
							<h4 class="text-truncate">
								@note.Name
							</h4>
							<p class="text-secondary mb-0">@note.StrDateOfCreation</p>
						</a>
					</div>
				</li>
			}
		}
	</ul>
</div>
